{:paths ["src"]

 :deps {coast-framework/error {:mvn/version "1.0.2"}
        coast-framework/helper {:mvn/version "1.0.0"}
        jkkramer/verily {:git/url "https://github.com/coast-framework/verily"
                         :sha "c7305beecf47dc794a9ba9fd7876b00816c9d37f"}}

 :aliases {:repl
           {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

           :test
           {:extra-paths ["test"]
            :main-opts ["-m" "cognitect.test-runner"]
            :extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner.git"
                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}}}}
